In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#для визуализации
import seaborn as sns
from pandas import plotting
from pandas.plotting import parallel_coordinates
import plotly.graph_objs as go
import plotly.offline as py

Имортируем необходимые библиотеки и загружаем файл с данными в формате csv

In [2]:
df = pd.read_csv('insurance_claims.csv', sep=',')

In [3]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,1,?,87200,17440,8720,61040,Honda,Accord,2006,N
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,3,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,3,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,1,YES,46980,5220,5220,36540,Audi,A5,1998,N
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,3,?,5060,460,920,3680,Mercedes,E400,2007,N

для наглядности выведем наш дадасет на экран, видим что он состоит из 39 переменных и 1000 строк

In [4]:
df.dtypes

months_as_customer               int64
age                              int64
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
dtype: object

18 переменных - числовые, 21 - категориальные

In [5]:
colum_name =[]
unique_value=[]
for col in df:
    if df[col].dtype == 'object':
        colum_name.append(str(col)) 
        unique_value.append(df[col].nunique())
table= pd.DataFrame()
table['Col_name'] = colum_name
table['Value']= unique_value
            
table=table.sort_values('Value',ascending=False)
table

                   Col_name  Value
15        incident_location   1000
0          policy_bind_date    951
8             incident_date     60
19               auto_model     39
6           insured_hobbies     20
18                auto_make     14
5        insured_occupation     14
4   insured_education_level      7
14            incident_city      7
13           incident_state      7
7      insured_relationship      6
12    authorities_contacted      5
10           collision_type      4
11        incident_severity      4
9             incident_type      4
1              policy_state      3
16          property_damage      3
17  police_report_available      3
2                policy_csl      3
3               insured_sex      2
20           fraud_reported      2

Проанализировав дадасет и выделив задачи, я решил отобрать переменные для последующей обработки данных и для этого избавился от следующих переменных: incident_location, policy_bind_date, incident_date, incident_state, incident_city, auto_model, auto_make, policy_number, policy_state, insured_zip.

In [6]:
df.drop(['incident_location','policy_bind_date','incident_date','incident_state','incident_city','auto_model','auto_make','policy_number','policy_state','insured_zip'],axis=1,inplace=True)

In [7]:
df.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,1136.000000,1256.406150,1.101000e+06,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.140287,611.864673,244.167395,2.297407e+06,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [8]:
df = df.replace('?',np.NaN)
df.isnull().any()

months_as_customer             False
age                            False
policy_csl                     False
policy_deductable              False
policy_annual_premium          False
umbrella_limit                 False
insured_sex                    False
insured_education_level        False
insured_occupation             False
insured_hobbies                False
insured_relationship           False
capital-gains                  False
capital-loss                   False
incident_type                  False
collision_type                  True
incident_severity              False
authorities_contacted          False
incident_hour_of_the_day       False
number_of_vehicles_involved    False
property_damage                 True
bodily_injuries                False
witnesses                      False
police_report_available         True
total_claim_amount             False
injury_claim                   False
property_claim                 False
vehicle_claim                  False
auto_year                      False
fraud_reported                 False
dtype: bool

Проверим в каких переменных есть пропуски. в переменных collision_type, property_damage и police_report_available есть пропуски. найдем их количество и долю.

In [9]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                             Total  Percent
property_damage                360    0.360
police_report_available        343    0.343
collision_type                 178    0.178
capital-loss                     0    0.000
age                              0    0.000
policy_csl                       0    0.000
policy_deductable                0    0.000
policy_annual_premium            0    0.000
umbrella_limit                   0    0.000
insured_sex                      0    0.000
insured_education_level          0    0.000
insured_occupation               0    0.000
insured_hobbies                  0    0.000
insured_relationship             0    0.000
capital-gains                    0    0.000
fraud_reported                   0    0.000
incident_type                    0    0.000
auto_year                        0    0.000
incident_severity                0    0.000
authorities_contacted            0    0.000
incident_hour_of_the_day         0    0.000
number_of_vehicles_involved      0    0.000
bodily_injuries                  0    0.000
witnesses                        0    0.000
total_claim_amount               0    0.000
injury_claim                     0    0.000
property_claim                   0    0.000
vehicle_claim                    0    0.000
months_as_customer               0    0.000

1. collision_type - поскольку мы не знаем о типе столкновения заменим пропуски использую стратегию замены самым популярным значением.
2. property_damage - пропуски в материальном ущербе: так как они пропущены, то с большей долей вероятности, я считаю, что они отсутствовали, следовательно заменим их на значение "NO".
3. police_report_available - аналогично с 2 пунктом, будем считать что отчета от полиции не было.

Затем убеждаемся, что пропущеных значений в нашем датасете нет.

In [10]:
# missing value treatment using fillna

df['collision_type'].fillna(df['collision_type'].mode()[0], inplace = True)

df['property_damage'].fillna('NO', inplace = True)

df['police_report_available'].fillna('NO', inplace = True)

df.isnull().any().any()

False

In [11]:
def outliers(df):
    num_var = list(df._get_numeric_data().columns)
    for col_names in num_var:
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()-3*df[col_names].std() 
                            if y < df[col_names].mean()-3*df[col_names].std() else y)
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()+3*df[col_names].std() 
                            if y > df[col_names].mean()+3*df[col_names].std() else y)
    return(df)

Избавимся от выбросов в числовых переменных, для этого запишем функцию для поиска и замены данных, выходящих за пределы 3 сигма.

In [12]:
df.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,1136.000000,1256.406150,1.101000e+06,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.140287,611.864673,244.167395,2.297407e+06,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [13]:
df.dtypes

months_as_customer               int64
age                              int64
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_year                        int64
fraud_reported                  object
dtype: object

ещё раз выводим для наглядности типы переменных, чтобы видеть какие надо кодировать.

In [14]:
df['fraud_reported'] = df['fraud_reported'].replace(('Y','N'),(0,1))
df['fraud_reported'].value_counts()

1    753
0    247
Name: fraud_reported, dtype: int64

In [15]:
df[['policy_csl','fraud_reported']].groupby(['policy_csl'], as_index = False).mean().sort_values(
    by = 'fraud_reported', ascending = False)

  policy_csl  fraud_reported
2   500/1000        0.783333
0    100/300        0.742120
1    250/500        0.737892

In [16]:
df['policy_csl'] = df['policy_csl'].replace(('500/1000','100/300','250/500'),(0.78,0.74,0.73))
df['policy_csl'].value_counts()

0.73    351
0.74    349
0.78    300
Name: policy_csl, dtype: int64

In [17]:
df[['insured_sex','fraud_reported']].groupby(['insured_sex'], as_index = False).mean().sort_values(
    by = 'fraud_reported', ascending = False)

  insured_sex  fraud_reported
0      FEMALE        0.765363
1        MALE        0.738661

In [18]:
df['insured_sex'] = df['insured_sex'].replace(('FEMALE','MALE'),(0.76,0.73))
df['insured_sex'].value_counts()

0.76    537
0.73    463
Name: insured_sex, dtype: int64

In [19]:
df[['insured_education_level','fraud_reported']].groupby(['insured_education_level'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

  insured_education_level  fraud_reported
5                 Masters        0.776224
2             High School        0.775000
0               Associate        0.765517
3                      JD        0.739130
1                 College        0.737705
4                      MD        0.736111
6                     PhD        0.736000

In [20]:
df['insured_education_level'] = df['insured_education_level'].replace(('Masters', 'High School','Associate',
                                        'JD','College', 'MD','PhD'),(0.78,0.77,0.76,0.74,0.73,0.72,0.71))
df['insured_education_level'].value_counts()

0.74    161
0.77    160
0.76    145
0.72    144
0.78    143
0.71    125
0.73    122
Name: insured_education_level, dtype: int64

In [21]:
df[['insured_occupation','fraud_reported']].groupby(['insured_occupation'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

   insured_occupation  fraud_reported
7       other-service        0.830986
8     priv-house-serv        0.830986
0        adm-clerical        0.830769
5   handlers-cleaners        0.796296
9      prof-specialty        0.788235
10    protective-serv        0.777778
6   machine-op-inspct        0.763441
1        armed-forces        0.753623
11              sales        0.723684
12       tech-support        0.717949
13   transport-moving        0.708333
2        craft-repair        0.702703
4     farming-fishing        0.698113
3     exec-managerial        0.631579

In [22]:
df['insured_occupation'] = df['insured_occupation'].replace(('other-service','priv-house-serv',
                        'adm-clerical','handlers-cleaners','prof-specialty','protective-serv',
                'machine-op-inspct','armed-forces','sales','tech-support','transport-moving','craft-repair',
                    'farming-fishing','exec-managerial'),(0.84, 0.84,0.83, 0.79,0.78,0.77,0.76,0.75,0.72,0.71,
                                                          0.705,0.70,0.69,0.63))
df['insured_occupation'].value_counts()

0.840    142
0.760     93
0.780     85
0.710     78
0.720     76
0.630     76
0.700     74
0.705     72
0.750     69
0.830     65
0.770     63
0.790     54
0.690     53
Name: insured_occupation, dtype: int64

In [23]:
df[['insured_hobbies','fraud_reported']].groupby(['insured_hobbies'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

   insured_hobbies  fraud_reported
4          camping        0.909091
11        kayaking        0.907407
9             golf        0.890909
7          dancing        0.883721
3   bungie-jumping        0.839286
12          movies        0.836364
1       basketball        0.823529
8         exercise        0.807018
17        sleeping        0.804878
18     video-games        0.800000
16       skydiving        0.775510
13       paintball        0.771930
10          hiking        0.769231
0     base-jumping        0.734694
15         reading        0.734375
14            polo        0.723404
2      board-games        0.708333
19        yachting        0.698113
6        cross-fit        0.257143
5            chess        0.173913

In [24]:
df['insured_hobbies'] = df['insured_hobbies'].replace(('camping', 'kayaking', 'golf','dancing',
        'bungie-jumping','movies', 'basketball','exercise','sleeping','video-games','skydiving','paintball',
            'hiking','base-jumping','reading','polo','board-games','yachting', 'cross-fit','chess'),(0.91, 0.90,
                0.89, 0.88,0.84,0.83,0.82,0.81,0.805,0.80,0.78,0.77,0.76,0.73,0.73,0.72,0.70,0.69,0.25,0.17))

df['insured_hobbies'].value_counts()

0.730    113
0.770     57
0.810     57
0.840     56
0.890     55
0.830     55
0.910     55
0.900     54
0.690     53
0.760     52
0.800     50
0.780     49
0.700     48
0.720     47
0.170     46
0.880     43
0.805     41
0.250     35
0.820     34
Name: insured_hobbies, dtype: int64

In [25]:
df[['insured_relationship','fraud_reported']].groupby(['insured_relationship'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

  insured_relationship  fraud_reported
0              husband        0.794118
3            own-child        0.786885
4            unmarried        0.758865
1        not-in-family        0.741379
5                 wife        0.729032
2       other-relative        0.706215

In [26]:
df['insured_relationship'] = df['insured_relationship'].replace(('husband','own-child','unmarried',
                                        'not-in-family','wife','other-relative'),(0.79,0.78,0.75,0.74,0.72,0.70))

df['insured_relationship'].value_counts()

0.78    183
0.70    177
0.74    174
0.79    170
0.72    155
0.75    141
Name: insured_relationship, dtype: int64

In [27]:
df[['incident_type','fraud_reported']].groupby(['incident_type'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

              incident_type  fraud_reported
3             Vehicle Theft        0.914894
1                Parked Car        0.904762
0   Multi-vehicle Collision        0.727924
2  Single Vehicle Collision        0.709677

In [28]:
df['incident_type'] = df['incident_type'].replace(('Vehicle Theft','Parked Car','Multi-vehicle Collision',
                                'Single Vehicle Collision'),(0.91, 0.90, 0.72,0.70))
df['incident_type'].value_counts()

0.72    419
0.70    403
0.91     94
0.90     84
Name: incident_type, dtype: int64

In [29]:
df[['collision_type','fraud_reported']].groupby(['collision_type'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

    collision_type  fraud_reported
1   Rear Collision        0.772340
2   Side Collision        0.746377
0  Front Collision        0.724409

In [30]:
df['collision_type'] = df['collision_type'].replace(('Rear Collision', 'Side Collision', 'Front Collision'),
                                                        (0.78,0.74,0.72))
df['collision_type'].value_counts()

0.78    470
0.74    276
0.72    254
Name: collision_type, dtype: int64

In [31]:
df[['incident_severity','fraud_reported']].groupby(['incident_severity'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

  incident_severity  fraud_reported
3    Trivial Damage        0.933333
1      Minor Damage        0.892655
2        Total Loss        0.871429
0      Major Damage        0.394928

In [32]:
df['incident_severity'] = df['incident_severity'].replace(('Trivial Damage','Minor Damage','Total Loss',
                                                              'Major Damage'),(0.94,0.89,0.87,0.39))
df['incident_severity'].value_counts()

0.89    354
0.87    280
0.39    276
0.94     90
Name: incident_severity, dtype: int64

In [33]:
df[['authorities_contacted','fraud_reported']].groupby(['authorities_contacted'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

  authorities_contacted  fraud_reported
2                  None        0.934066
4                Police        0.791096
1                  Fire        0.730942
0             Ambulance        0.709184
3                 Other        0.681818

In [34]:
df['authorities_contacted'] = df['authorities_contacted'].replace(('None','Police','Fire','Ambulance','Other'),
                                                                      (0.94,0.79,0.73,0.70,0.68))
df['authorities_contacted'].value_counts()

0.79    292
0.73    223
0.68    198
0.70    196
0.94     91
Name: authorities_contacted, dtype: int64

In [35]:
df[['property_damage','fraud_reported']].groupby(['property_damage'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

  property_damage  fraud_reported
0              NO        0.757880
1             YES        0.741722

In [36]:
df['property_damage'] = df['property_damage'].replace(('NO','YES'),(0.76,0.74))
df['property_damage'].value_counts()

0.76    698
0.74    302
Name: property_damage, dtype: int64

In [37]:
df[['police_report_available','fraud_reported']].groupby(['police_report_available'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

  police_report_available  fraud_reported
1                     YES        0.770701
0                      NO        0.744898

In [38]:
df['police_report_available'] = df['police_report_available'].replace(('NO','YES'),(0.77,0.74))
df['police_report_available'].value_counts()

0.77    686
0.74    314
Name: police_report_available, dtype: int64