In [168]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#для визуализации
import seaborn as sns
from pandas import plotting
from pandas.plotting import parallel_coordinates
import plotly.graph_objs as go
import plotly.offline as py

Имортируем необходимые библиотеки и загружаем файл с данными в формате csv

In [169]:
df = pd.read_csv('insurance_claims.csv', sep=',')

In [170]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,1,?,87200,17440,8720,61040,Honda,Accord,2006,N
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,3,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,3,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,1,YES,46980,5220,5220,36540,Audi,A5,1998,N
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,3,?,5060,460,920,3680,Mercedes,E400,2007,N

для наглядности выведем наш дадасет на экран, видим что он состоит из 39 переменных и 1000 строк

In [171]:
df.dtypes

months_as_customer               int64
age                              int64
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
dtype: object

18 переменных - числовые, 21 - категориальные

In [172]:
colum_name =[]
unique_value=[]
for col in df:
    if df[col].dtype == 'object':
        colum_name.append(str(col)) 
        unique_value.append(df[col].nunique())
table= pd.DataFrame()
table['Col_name'] = colum_name
table['Value']= unique_value
            
table=table.sort_values('Value',ascending=False)
table

                   Col_name  Value
15        incident_location   1000
0          policy_bind_date    951
8             incident_date     60
19               auto_model     39
6           insured_hobbies     20
18                auto_make     14
5        insured_occupation     14
4   insured_education_level      7
14            incident_city      7
13           incident_state      7
7      insured_relationship      6
12    authorities_contacted      5
10           collision_type      4
11        incident_severity      4
9             incident_type      4
1              policy_state      3
16          property_damage      3
17  police_report_available      3
2                policy_csl      3
3               insured_sex      2
20           fraud_reported      2

Проанализировав дадасет и выделив задачи, я решил отобрать переменные для последующей обработки данных и для этого избавился от следующих переменных: incident_location, policy_bind_date, incident_date, incident_state, incident_city, auto_model, auto_make, policy_number, policy_state, insured_zip.

In [173]:
df.drop(['incident_location','policy_bind_date','incident_date','incident_state','incident_city','auto_model','auto_make','policy_number','policy_state','insured_zip'],axis=1,inplace=True)

In [174]:
df.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,1136.000000,1256.406150,1.101000e+06,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.140287,611.864673,244.167395,2.297407e+06,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [175]:
df = df.replace('?',np.NaN)
df.isnull().any()

months_as_customer             False
age                            False
policy_csl                     False
policy_deductable              False
policy_annual_premium          False
umbrella_limit                 False
insured_sex                    False
insured_education_level        False
insured_occupation             False
insured_hobbies                False
insured_relationship           False
capital-gains                  False
capital-loss                   False
incident_type                  False
collision_type                  True
incident_severity              False
authorities_contacted          False
incident_hour_of_the_day       False
number_of_vehicles_involved    False
property_damage                 True
bodily_injuries                False
witnesses                      False
police_report_available         True
total_claim_amount             False
injury_claim                   False
property_claim                 False
vehicle_claim                  False
auto_year                      False
fraud_reported                 False
dtype: bool

Проверим в каких переменных есть пропуски. в переменных collision_type, property_damage и police_report_available есть пропуски. найдем их количество и долю.

In [176]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                             Total  Percent
property_damage                360    0.360
police_report_available        343    0.343
collision_type                 178    0.178
capital-loss                     0    0.000
age                              0    0.000
policy_csl                       0    0.000
policy_deductable                0    0.000
policy_annual_premium            0    0.000
umbrella_limit                   0    0.000
insured_sex                      0    0.000
insured_education_level          0    0.000
insured_occupation               0    0.000
insured_hobbies                  0    0.000
insured_relationship             0    0.000
capital-gains                    0    0.000
fraud_reported                   0    0.000
incident_type                    0    0.000
auto_year                        0    0.000
incident_severity                0    0.000
authorities_contacted            0    0.000
incident_hour_of_the_day         0    0.000
number_of_vehicles_involved      0    0.000
bodily_injuries                  0    0.000
witnesses                        0    0.000
total_claim_amount               0    0.000
injury_claim                     0    0.000
property_claim                   0    0.000
vehicle_claim                    0    0.000
months_as_customer               0    0.000

1. collision_type - поскольку мы не знаем о типе столкновения заменим пропуски использую стратегию замены самым популярным значением.
2. property_damage - пропуски в материальном ущербе: так как они пропущены, то с большей долей вероятности, я считаю, что они отсутствовали, следовательно заменим их на значение "NO".
3. police_report_available - аналогично с 2 пунктом, будем считать что отчета от полиции не было.

Затем убеждаемся, что пропущеных значений в нашем датасете нет.

In [177]:
# missing value treatment using fillna

df['collision_type'].fillna(df['collision_type'].mode()[0], inplace = True)

df['property_damage'].fillna('NO', inplace = True)

df['police_report_available'].fillna('NO', inplace = True)

df.isnull().any().any()

False

In [178]:
def outliers(df):
    num_var = list(df._get_numeric_data().columns)
    for col_names in num_var:
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()-3*df[col_names].std() 
                            if y < df[col_names].mean()-3*df[col_names].std() else y)
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()+3*df[col_names].std() 
                            if y > df[col_names].mean()+3*df[col_names].std() else y)
    return(df)

Избавимся от выбросов в числовых переменных, для этого запишем функцию для поиска и замены данных, выходящих за пределы 3 сигма.

In [179]:
df.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,1136.000000,1256.406150,1.101000e+06,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.140287,611.864673,244.167395,2.297407e+06,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [180]:
df['fraud_reported'] = df['fraud_reported'].replace(('Y','N'),(0,1))
df['fraud_reported'].value_counts()

1    753
0    247
Name: fraud_reported, dtype: int64

In [181]:
df[['property_damage','fraud_reported']].groupby(['property_damage'], 
                as_index = False).mean().sort_values(by = 'fraud_reported', ascending = False)

  property_damage  fraud_reported
0              NO        0.757880
1             YES        0.741722

In [182]:
df['property_damage'] = df['property_damage'].replace(('NO','YES'),(0.76,0.74))
df['property_damage'].value_counts()

0.76    698
0.74    302
Name: property_damage, dtype: int64